name: analyze

on:
  workflow_call:
    inputs:
      test_timeout_multiplier:
        description: "Multiplier for meson test timeout"
        required: false
        default: "1"
        type: string

jobs:
  analyze:
    # clang-tidy после форматирования
    name: analyze (clang-tidy)
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
        CI_TEST_TIMEOUT_MULTIPLIER: ${{ inputs.test_timeout_multiplier }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup_meson_env
      - name: Configure (tidy)
        run: meson setup build-tidy --buildtype=debug
      - name: Build (tidy)
        run: meson compile -C build-tidy
      - name: Run clang-tidy
        run: |
          files=$(find src include app tests -name '*.cpp')
          if [ -n "$files" ]; then
            for f in $files; do
              echo "==> clang-tidy $f"
              clang-tidy "$f" -p build-tidy --warnings-as-errors='*'
            done
          else
            echo "No sources for clang-tidy"
          fi
