name: sanitizers

on:
  workflow_call:
    inputs:
      test_timeout_multiplier:
        description: "Multiplier for meson test timeout"
        required: false
        default: "1"
        type: string
      sanitizer:
        description: "Sanitizer kind (address/undefined/thread)"
        required: true
        type: string
      allow_failure:
        description: "Allow failure (for TSan)"
        required: false
        default: "false"
        type: string

jobs:
  sanitizers:
    # Единичный прогон под выбранный санитайзер.
    name: sanitizers (${{ inputs.sanitizer }})
    runs-on: ubuntu-latest
    timeout-minutes: 40
    env:
      CI_TEST_TIMEOUT_MULTIPLIER: ${{ inputs.test_timeout_multiplier }}
    continue-on-error: ${{ inputs.allow_failure == 'true' }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup_meson_env
      - name: Configure (sanitizer)
        run: meson setup build-${{ inputs.sanitizer }} --buildtype=debug -Db_sanitize=${{ inputs.sanitizer }} -Db_lundef=false
      - name: Build (sanitizer)
        run: meson compile -C build-${{ inputs.sanitizer }}
      - name: Test (sanitizer)
        run: meson test -C build-${{ inputs.sanitizer }} --print-errorlogs --timeout-multiplier="${CI_TEST_TIMEOUT_MULTIPLIER}"
      - name: Upload sanitizer logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: logs-${{ inputs.sanitizer }}
          path: build-${{ inputs.sanitizer }}/meson-logs
