name: "Build/Test (reusable)"

on:
  workflow_call:
    inputs:
      buildtype:
        type: string
        required: false
        default: debug
      run-tests:
        type: boolean
        required: false
        default: true

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Meson env
        uses: ./.github/actions/setup-meson-env

      - name: Setup MSVC (Windows)
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Configure (Meson)
        if: runner.os != 'Windows'
        shell: bash
        run: |
          meson setup builddir \
            --buildtype=${{ inputs.buildtype }}

      - name: Configure (Meson, Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          meson setup builddir --buildtype=${{ inputs.buildtype }}

      - name: Build
        if: runner.os != 'Windows'
        shell: bash
        run: meson compile -C builddir

      - name: Build (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: meson compile -C builddir

      - name: Run tests
        if: inputs.run-tests == true && runner.os != 'Windows'
        shell: bash
        run: meson test -C builddir --print-errorlogs

      - name: Run tests (Windows)
        if: inputs.run-tests == true && runner.os == 'Windows'
        shell: pwsh
        run: meson test -C builddir --print-errorlogs
